# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/
.env/

# Environment variables
.env
.env.*

# Uploads & generated artifacts
uploads/*.csv
uploads/*.joblib
uploads/*.json
uploads/*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docs / office temp files
docsa/.~lock.*
docsa/*.odt

# Logs
*.log
